%h2= t('account.sign_up')
.container
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.input :email
    = f.input :password
    - if @minimum_password_length
      %em=@minimum_password_length
      %em= t('characters')
    = f.input :password_confirmation, label: t('account.password_confirmation')
    =f.button :submit, t('account.sign_up'), class: "btn-primary"
  = render "devise/shared/links"
  =link_to t('actions.go_back'), :back
