%h1.m-2.p-1= @article.title
%h2.m-2.p-1= @article.body
%ul.list-group.w-25.m-4.p-3
  - if policy(@article).edit?
    %li.list-group-item= link_to t('actions.edit'), edit_article_path(@article)
    %li.list-group-item= link_to t('actions.delete'), article_path(@article), data: {turbo_method: :delete, turbo_confirm: t('confirmation.confirm?')}
  %li.list-group-item= link_to t('articles.all_articles'), root_path

%h2.m-2.p-1= Comment.model_name.human
=render @article.comments
-if current_user
  %h2.m-2.p-1= t('comments.add_comment')
  =render 'comments/form'
