%h1= @article.title
%h2= @article.body
%ul
  %li= link_to "Edit", edit_article_path(@article)
  %li= link_to "Destroy", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %li= link_to "All articles", root_path

%h2 Comments 
=render @article.comments
%h2 Add a comment
=render 'comments/form'