%h2= t('users_list')
%table.table
  %thead.thead-dark
    %tr
      %th{:scope => "col"}= User.human_attribute_name('email')
      %th{:scope => "col"}= User.human_attribute_name('role')
  %tbody
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.role
      - if user.deleted_at != nil
        %td= link_to t('actions.restore'), users_restore_path(user.id)
