%div.container
  %h3= @user.email
  %ul.list-group.w-25
    %li.list-group-item= link_to t('articles.show_articles'), articles_users_path
    %li.list-group-item= link_to t('account.edit_profile'), edit_user_registration_path
    %li.list-group-item= link_to t('account.delete_acc'), users_destroy_path, data: { confirmation: t('confirmation.confirm?') }
    %li.list-group-item= link_to t('articles.deleted_articles'), deleted_articles_users_path
    %li.list-group-item= link_to t('comments.deleted_comments'), deleted_comments_users_path(@user.id)

  - if policy(@user).index?
    %a.btn{:href => users_path}= t('all_users')
