.container
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, label: t('account.remember_me')
      = f.button :submit, t('account.log_in'), class: "btn-primary"
  = render "devise/shared/links"
  =link_to t('actions.go_back'), :back
